<h1>About this site</h1>
<p>BLARRGHhhhhh and Ramblings. Something new I will learn everyday. Better than being depressed and bored.</p>
<p><%= link_to "Day 1", day0001_path %></p>
<p><%= link_to "Day 2", day0002_path %></p>